<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings><add name="SSAEntities" connectionString="metadata=res://*/EF.SecurityModel.csdl|res://*/EF.SecurityModel.ssdl|res://*/EF.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SSA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="SSAEntities1" connectionString="metadata=res://*/EF.SecurityModel.csdl|res://*/EF.SecurityModel.ssdl|res://*/EF.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SSA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>